* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: "Roboto", -apple-system, system-ui, sans-serif;
	box-sizing: border-box;
}

.app {
	&__main {
		flex: 1 1 auto;
	}
	&__row {
		min-width: 750px;
		height: 100%;
		display: flex;
		flex-direction: column;

		button {
			align-self: start;
		}
	}
	&__item {
		$self: &;
		display: flex;
		justify-content: flex-start;

		border-bottom: 1px solid #93b7c0;
		padding: 15px 0;
		cursor: pointer;
		transition: border 0.1s;
		&.active {
			background: #e7ebec;
		}
		&:hover {
			border: 1px solid #284046;
		}
		&:hover #{self}-edit {
			opacity: 0.6;
		}
		&:hover #{self}-delete {
			opacity: 0.6;
		}

		#{$self}-edit {
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
		#{$self}-delete {
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__item.header {
		background-color: #165c6d;
		color: #fff;
	}
	&__item.header:hover {
		border-bottom: 1px solid #93b7c0;
		cursor: default;
	}
	&__item-column {
		flex: 0 1 25%;

		&:first-child,
		&:last-child {
			flex: 0 0 10%;
		}
		&:nth-child(3) {
			flex: 0 1 50%;
		}
		&:first-child {
			margin-left: 10px;
		}
	}
	&__item-buttons {
		display: flex;
		align-items: center;
	}
	&__item-delete,
	&__item-edit {
		img {
			display: block;
		}
	}

	&__item-buttons > * {
		padding: 0 12px;
	}
}
.popup {
	background-color: #fff;
	max-width: 540px;
	border: 1px solid #165c6d;
	position: absolute;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__header {
		color: #fff;
		background-color: #165c6d;
		line-height: 140%;
		padding: 5px 15px 7px;
		overflow: hidden;
		border-radius: 10px 10px 0 0;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: start;
		bottom: 10px;
		padding: 7px 25px;
		& > *:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&__close {
		color: gray;
		font-size: 15px;
		text-decoration: underline;
		cursor: pointer;
	}
	&__field {
		width: 100%;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #165c6d;
		outline: none;
		&:focus {
			border: 1px solid #16add3;
		}
	}
	input,
	a {
		display: block;
	}
	button {
		align-self: self-end;
	}
}
.btn {
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
	background-color: #165c6d;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: #16add3;
	}
}
