.list {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item {
	$self: &;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #93b7c0;
	padding: 15px 0;
	cursor: pointer;
	transition: border 0.1s;

	&.active {
		background: #e7ebec;
	}
	&:hover {
		border: 1px solid #284046;
	}
	&:hover #{self}-edit {
		opacity: 0.6;
	}
	&:hover #{self}-delete {
		opacity: 0.6;
	}

	#{$self}-edit {
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}
	#{$self}-delete {
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}

	&__column {
		min-width: 30px;
		word-break: break-all;
		font-size: 0.8em;
		&:last-child {
			flex: 0 0 114px;
		}
		&:nth-child(2),
		&:nth-child(3) {
			padding: 0 5px;
			flex: 0 1 50%;
		}
		&:first-child {
			flex: 0 0 72px;
			padding: 0 15px;
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
	}
	&__delete,
	&__edit {
		img {
			display: block;
		}
	}

	&__buttons {
		padding: 0 24px;
		& > *:not(:last-child) {
			margin-right: 24px;
		}
	}
}
@media (max-width: 500px) {
	.app {
		.item {
			&__column {
				font-size: 0.6em;
				&:last-child {
					flex: 0 0 78px;
				}

				&:first-child {
					flex: 0 0 30px;
					padding: 0 5px;
				}
			}
			&__buttons {
				padding: 0 12px;
				& > *:not(:last-child) {
					margin-right: 12px;
				}
			}
		}
	}
}
